@import url("https://gozo-ui.netlify.app/CSS/style.css");

body {
    background-color: var(--gray);
    color: var(--text-gray);
}

.navbar-links {
    margin: 0rem 1rem 0rem 1rem;
}

.searchbar {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--gray) ;
    padding: 0.5rem 0.75rem;
    border-radius: 7rem;
    margin-right: 1rem;
}

.searchbar input {
    border: none;
    background-color: var(--gray);
}

.icon {
    width: 2rem;
    height: 2rem;
}

.badge {
    font-size: small;
    margin: 0%;
    padding: 0%;
}

.shadow {
    filter: drop-shadow(0 0 0.25rem #3333337a);
}

.bg-white {
    background-color: white;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.product-action * {
    align-items: center;
}

.product-image {
    max-width: 10rem;
}